# ignore anything beginning with "__"
# (used to hide stuff from the repository)
__*
**/__*

# don't accidentally include any ROM files
*.sms
*.bin
*.sym

# don't include any compiled object files,
# these are binary, will change often,
# and can be recreated anytime
*.o
*.lib

# WLA temp files / error dumps
.wla*

